body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.topPanel {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    width: 90%;
    height: 20%;
    background-color: lightcyan;
    color: darkblue;
}

.leftPanel {
    position: absolute;
    left: 5%;
    top: 30%;
    width: 20%;
    height: 80%;
    background-color: darkorange;
    color: whitesmoke;
}

.centerPanel {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 50%;
    height: 80%;
    background-color: white;
    color: darkmagenta;
}

.rightPanel {
    position: absolute;
    left: 80%;
    top: 30%;
    width: 20%;
    height: 80%;
    background-color: lightcoral;
    color: darkblue;
}

.bottomPanel {
    position: fixed; 
    left: 5%;
    right: 5%;
    bottom: 1%;
    width: 90%;
    height: 10%;
    background-color: lightcyan;
    color: darkblue;
    margin-top: auto;
}

h1, h2 {
    text-align: center;
}

.img {
    width: 150px;
    height: 150px;
    border: 2px solid black;
}
